body{
	color: #333333;
	//background: URL('http://nerdswbnerds.com/pics/shattered.png');
		
	font-family: Tahoma;
	font-size: 14px;
}

h1{
	color: black;
}

h2{
	color: black;
}
	
h3{
	color: black;
}

p{
	color: black;
}
	
a{
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}


a:hover{
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}

.applet{
	border: 1px solid black; 
	padding: 0px;
	margin-top: 10px;
		
	-webkit-box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
    box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
}

.warning{
	color: red;
	margin-bottom: 0;
}

.info{
	margin-bottom: 0;
}

#menu{
	-webkit-border-radius: 4px; 
    border-radius: 4px;
	
	width: 400px; 
	background: white;
	border: 1px solid black; 
	padding: 5px;
	color: #333333;
		
	-webkit-box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
    box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
}

.rightAd{
	position: absolute;
	right: 5px; 
	top: 5px; 
	border: 1px solid black;
		
	-webkit-box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
    box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
}

.leftAd{
	position: absolute;
	left: 5px; 
	top: 5px; 
	border: 1px solid black;
		
	-webkit-box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
    box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
}

.inst{
	border: 1px solid black;
	
	margin-top: 15px;
	background: white;
		
	-webkit-box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
    box-shadow:  3px 3px 6px 1px rgba(0, 0, 0, .5);
}